/* Usem essa parte para titulos e subtitulos*/

.titles {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.sectionTitle {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.subtitles {
  text-align: center;
  font-weight: bold;
}

/*Essas div contem cores usadas em alguns backgrounds SZ*/

.cinza {
  background-color: #EFF1F0;
}

.blanco {
  color: white;
}
.black {
  color: black;
}

.violet{
  color:blueviolet;
}

/* Formatacao Menu */

#cabecalho {
  background-image: url('../images/ban11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: luminosity;
  color: white;
  min-height: 600px;
}

.promote{
  font-weight: bold;
  font-size: 30px;
}

.foguete{
  color: blueviolet;
  font-size: 25px;
  letter-spacing: 10px;
}

.conteudoheader{
  text-align: left;
  font-weight: bolder;
  font-size: 50px;
}

.background{
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  min-height: 600px;

}

.number{
  color: blueviolet;
  font-weight: bolder;
}

/*Fim Formatacao Menu */

.icones{
  /*color: blueviolet;*/
  background-color: #ddc4ec;
}


/*parte do formulario pra se registrar*/

.business {
  background-image: url("../images/r1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 65px;
  background-blend-mode: color;
  background-color: rgba(0,0,0,0.5);

}

/*fim parte do formulario pra se registrar*/

.branco{
    background-color: white;
    text-align: center;
}

/* Inicio botão read more */

.button {
  background-color: blueviolet;
  color: white;
  font-size: 15px;
  text-align: center;
  border: 2px solid blueviolet;
  border-radius: 4px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  }

/* Fim botão read more */

/* centralização inicio*/
.centro{
    text-align:center;
    display: inline-block;
    height: 50px;
  width: 50px;
  background-color: #dabcf6;
  border-radius: 50%;
}
/* centralização fim */



/* INSIRA OUTROS CSS ACIMA DISSO */
/*CARDS*/
#box {
  justify-content: center;
}

.card1 {
  background-color: blueviolet;
  display: flex;
  border-color: #EFF1F0;
}

.card1 i {
  color: black;
  font-size: 13px;
}

.card1 p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .card1 {
   margin-bottom: 10px;
  }
}

.img1 {
  border: solid 4px;
}

/*CSS FORMS*/
.form-a{
  background-color: rgba(10,23,55,0.5);
  justify-content: center;
  border-radius: 0 ;

}

#submit-button {
  /*ESTE É O ROXO USADO EM BOTÕES NO SITE*/
  background-color: blueviolet;
  border: 0;
}

#form-group-2 input {
  background-color: #EFF1F0;
  border: 0;
}

#form-group-2 textarea {
  background-color: #EFF1F0;
  border: 0;
}

/*--CSS DO FOOTER--*/

footer {
  color: white;
  background-attachment: fixed;
  background-color: #222;
  background-size: cover;
  background-position: bottom;
}

footer p {
  color: rgba(204, 204, 204, 0.479);
}

footer a {
  color: rgba(204, 204, 204, 0.479);
}

.input-group-append button {
  background-color: blueviolet;
  border: 0;
}

.f-address li {
  display: inline-block;
}

.f-address li i {
  color: blueviolet;
  font-size: 15px;
}

/* COPYRIGHT*/

.copyright {
  background-color: #222;
  padding: 12px 0;
  font-size: 14px;
}

.copyright p {
  color: rgba(204, 204, 204, 0.479);
}

